<%= form_for(@product_bundle) do |f| %>
  <% if @product_bundle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_bundle.errors.count, "error") %> prohibited this product_bundle from being saved:</h2>

      <ul>
      <% @product_bundle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-6">
    <div class="form-group col-sm-12">
      <div class="col-sm-2">
        <%= f.label :name %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <div class="col-sm-2">
        <%= f.label :Category %>
      </div>
      <div class="col-sm-10">
        <%= f.select :product_category_id, options_for_select(ProductCategory.all.collect {|p| [ p.name, p.id ] },(f.object.try(:product_category_id))),{}, { :class => 'form-control'} %>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <div class="col-sm-2">
        <%= f.label :description %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
    <div class="image-fields nested_body">
      <%= f.fields_for :images do |i| %>
        <%= render :partial => "image_fields", :locals => { :f => i } %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "Upload New Image", f, :images, class: "btn btn-primary add-images" %>
      </div><br>
    </div>
    <div class="form-group col-sm-12">
      <div class="">
        <%= f.submit class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>
